* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

:lang(ja) {
  font-family:
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

:lang(en) {
  // font-family: "Roboto Mono", monospace;
  font-family: "PT Serif", serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

// classes

#main-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: grid;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 3fr;
  }
}

nav {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  #nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  #nav-content {
    display: none;
  }

  @media (min-width: 768px) {
    border-right: 1px dashed var(--darkgray);

    #nav-content {
      display: block;
      h1 {
        font-size: small;
      }
    }

    .nav-link {
      display: block;
      margin-bottom: 8px;
      padding: 0 2rem;
      border-top: 1px dashed var(--darkgray);
      border-bottom: 1px dashed var(--darkgray);
    }
  }
}

#page-container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;

  .message-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    scroll-snap-align: start;

    .message-header {
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: small;
      font-weight: bold;

      p {
        margin: 6px 0;
      }
    }

    .message-content {
      display: flex;

      justify-content: center;

      margin: auto 0;
      height: 90%;

      p {
        height: 100%;
      }

      img {
        height: 100%;
        width: auto;

        max-width: 100%;

        object-fit: contain;
      }
    }
  }

  .message-container[data-sender-name="Shingo Ne KOYAMA"] {
    .message-header {
      p {
        color: var(--tertiary);
      }
      border-top: 1px dashed var(--tertiary);
      border-bottom: 1px dashed var(--tertiary);
    }
  }

  .message-container[data-sender-name="Anushka Trivedi"] {
    .message-header {
      p {
        color: var(--secondary);
      }
      border-top: 1px dashed var(--secondary);
      border-bottom: 1px dashed var(--secondary);
    }
  }
}

#about-container {
  padding: 0 1.5rem;

  p {
    font-size: large;
    line-height: normal;
    hyphens: none;
  }
}

.message-item {
  padding: 1rem 0;
  border-bottom: 4px dotted var(--secondary);

  .header {
    padding: 0 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sender-name,
  .time {
    font-size: small;
    font-family: "Courier New", Courier, monospace;
  }

  .content {
    padding: 0 1.2rem;
    font-size: medium;
  }
}
