$paradise-pink: #ea1f4b;
$paradise-pink-light: #ef5778;

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.3;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 3.8rem 0 0.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

p,
ul,
ol {
  font-size: 1.8rem;
  margin: 0 0 0.8em;
}

a {
  text-decoration: none;
  color: $paradise-pink;

  &:hover {
    color: $paradise-pink-light;
  }
}

article {
  padding: 2rem 1rem;
  max-width: calc(44em + 2rem);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

// classes

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-family: system-ui;
}

.message-item {
  padding: 1rem 0;
  border-bottom: 1px solid var(--darkgray);

  .header {
    padding: 0 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sender-name,
  .time {
    font-size: small;
    font-family: "Courier New", Courier, monospace;
  }

  .content {
    padding: 0 1.2rem;
    font-size: medium;
  }
}
