{{ define "page" }}
  <div id="page-container">
    <div lang="en" id="about-container">
      {{ .Content }}
    </div>

    {{ range .Site.RegularPages.GroupByDate "2006" "asc" }}
      {{ $year := .Key }}
      <div id="{{ $year | anchorize }}" class="year-container">
        {{ range .Pages.GroupByDate "January" "asc" }}
          {{ $month := .Key }}
          <div
            id="{{ $year | anchorize }}-{{ $month | anchorize }}"
            class="month-container"
          >
            {{ range .Pages }}
              {{ $sender_class_name := index .Params "sender-name" }}
              <div
                id="{{ .File.BaseFileName | anchorize }}"
                class="message-container"
                data-sender-name="{{ $sender_class_name }}"
              >
                <div class="message-header">
                  <p>
                    {{ index .Params "sender-name" }}
                  </p>
                  <p>
                    {{ .Params.date | time.Format ":date_medium" }}
                  </p>
                </div>

                <div class="message-content">
                  {{ with . }}
                    {{ .Content }}
                  {{ end }}
                </div>
              </div>
            {{ end }}
          </div>
        {{ end }}

      </div>
    {{ end }}

  </div>
{{ end }}
